#logo {
    height:auto;

}

.navbar {
    height: 80px;
}

.navbar-brand {
    padding-left: 0px;
}

.main-content {
    margin: 0 auto;
    padding-bottom: 40px;
}

#banner {
    width:100%;
    height:auto;
}

.form-inline > .form-group {
    margin-right: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.bulletless > li{
  list-style-type: none;
}

.errorlist {
    list-style-type: none;
    color: #a94442;
    padding-left: 0;
}

#map {
    height:500px;
    width: 100%;
}

#footer {
    background-color:#f8f7f3;
    height: 200px;
    padding: 60px 0px;
    bottom: 0;
}

.center {
    margin:0 auto;
    display:block;
    width: 600px;
}

#footer-logo {
    width:100%;
    height:auto;
}

#footer-content {
}

[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}
th {
    text-align:center;
}

td {
    text-align:center;
}