{% extends 'base.html' %}

{% block content %}
    <div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h2>Select Ministries</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="jumbotron">
                        <form action="{% url 'home:churchMinForm' id %}" method="post">
                        {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container bg-danger" style="padding-left:10px">
                                            <b>{{ form.non_field_errors }}</b>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Ministry Categories</h4>
                                </div>
                            </div>
                            <br>
                            <fieldset id="build">
                                <input type="hidden" name="count" id="count">
                            </fieldset>
                            <p><a href="#" id="add">Add another category +</a></p>
                          <button style="float:right" type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
				</div>
			</div>
            <script>
                $(function() {
                    var x = 0;
                    $( "#add" ).click(function() {
                        var d = $("<div></div>")
                        var row= $("<div class=\"row\"></div>");
                        var group =   $("<div class=\"form-group col-md-10\">");
                        var select = $("<select class=\"form-control\" id=\"category\" name=\"category[" + x + "]\"></select>");
                        var removeButton = $("<div class=\"col-md-2\"><button class=\"btn btn-danger\">Remove</button></div>");
                        removeButton.click(function() {
                            $(this).parent().parent().remove();
                        });
                        {% for min in ministries %}
                            console.log("{{ min.id }}");
                            select.append($("<option value=\"{{min.id}}\">{{min}}</option>"));
                        {% endfor %}
                        var row2 =   $("<div class=\"row\"></div>");
                        var group2 = $("<div class=\"form-group col-md-6\"></div>");
                        var start = $("<label for=\"start\">Start</label><input class=\"form-control\" value=\"00:00:00\" type=\"time\" name=\"start[" + x + "]\">");
                        var group3 = $("<div class=\"form-group col-md-6\"></div>");
                        var end = $("<label for=\"end\">End</label><input class=\"form-control\" value=\"00:00:00\" type=\"time\" name=\"end[" + x + "]\">")
                        var row3 = $("<div class=\"row\"></div>");
                        var group4 = $("<div class=\"form-group col-md-12\"></div>");
                        var day = $("<select class=\"form-control\" id=\"day\" name=\"day[" + x + "]\"></select>");
                        var row4 = $("<div class=\"row\"></div>");
                        var group5 = $("<div class=\"form-group col-md-6\"></div>");
                        var students = $("<label for=\"students\">Students</label><input class=\"form-control\" type=\"number\" name=\"students[" + x + "]\">");
                        day.append($("<option value=\"0\">Sunday</option>"));
                        day.append($("<option value=\"1\">Monday</option>"));
                        day.append($("<option value=\"2\">Tuesday</option>"));
                        day.append($("<option value=\"3\">Wednesday</option>"));
                        day.append($("<option value=\"4\">Thursday</option>"));
                        day.append($("<option value=\"5\">Friday</option>"));
                        day.append($("<option value=\"6\">Saturday</option>"));
                        $("#count").val(x++);
                        group.append(select);
                        group2.append(start);
                        group3.append(end);
                        group4.append(day);
                        group5.append(students);
                        row.append(group);
                        row.append(removeButton);
                        row2.append(group2);
                        row2.append(group3);
                        row3.append(group4);
                        row4.append(group5);
                        d.append(row);
                        d.append(row2);
                        d.append(row3);
                        d.append(row4);
                        $("#build").append(d);

                    });
                });
            </script>
{% endblock %}