{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <!-- <div class="row">
        <div class="col-md-12">
            <img alt="Banner" id="banner" src="{% static 'img/home_banner.jpg' %}">
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <h3 style="color:#3d95ef">Need Your Help</h3>
            <hr>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8">
            <form class="form-inline search-form" method="POST" id="search" action="/get_zip/">
              <div class="form-group">
                <label for="zipcode">Your ZipCode</label>
                <input type="text" class="form-control" id="zipcode" placeholder="07650">
              </div>
              <div class="form-group">
                <label for="distance">Distance</label>
                <select class="form-control" id="distance">
                  <option value="10">10 Miles</option>
                  <option value="20">20 Miles</option>
                  <option value="30">30 Miles</option>
                  <option value="50">50 Miles</option>
                  <option value="70">70 Miles</option>
                </select>
              </div>
              <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div>
    </div> -->
    <div class="row" style="height:auto;">
        <div class="col-md-6">
            <div id="map"></div>
            <script>
              var arr = "{{markers | safe}}";
              var center = {lat: 40.944543, lng: -74.075419}
              var zoom = 10;

              function changeCenter(lat, lng, z) {
                    center = {lat: lat, lng: lng};
                    switch(parseInt(z)) {
                        case 10:
                            zoom = 10;
                            break;
                        case 20:
                            zoom = 9;
                            break;
                        case 30:
                            zoom = 8;
                            break;
                        case 50:
                            zoom = 7;
                            break;
                        case 70:
                            zoom = 6;
                            break;
                    }
                    initMap()
              }
              function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: zoom,
                  center: center
                });
                {% for h in help %}
                    var myLatlng = new google.maps.LatLng({{h.church.x_lat}},{{h.church.y_long}});
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        title: "{{h.num}}" + ": " + "{{h.church.name}}"
                    });
                    marker.setMap(map);
                {% endfor %}
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRGShR4pz6wiRVrmmQ-OtWxHAOcZG6W1g&callback=initMap">
            </script>
        </div>
        <div class="col-md-6" style="height:500px; overflow:auto;">
            <table class="table table-bordered" id="table" style="font-size: 14px">
                <tr>
                    <th>ID</th>
                    <th>When</th>
                    <th>#</th>
                    <th>Description</th>
                    <th>Town</th>
                    <th>Help</th>
                </tr>
                {% for h in help %}
                <tr>
                    <td>{{ h.num }}</td>
                    {% if h.day == 0 %}
                        <td>Sun {{h.start}}</td>
                    {% endif %}
                    {% if h.day == 1 %}
                        <td>Mon {{h.start}}</td>
                    {% endif %}
                    {% if h.day == 2 %}
                        <td>Tues {{h.start}}</td>
                    {% endif %}
                    {% if h.day == 3 %}
                        <td>Wed {{h.start}}</td>
                    {% endif %}
                    {% if h.day == 4 %}
                        <td>Thurs {{h.start}}</td>
                    {% endif %}
                    {% if h.day == 5 %}
                        <td>Fri {{h.start}}</td>
                    {% endif %}
                    {% if h.day == 6 %}
                        <td>Sat {{h.start}}</td>
                    {% endif %}
                    <td>{{h.students}}</td>
                    <td>{{h.category.name}}</td>
                    <td>{{h.church.city}}</td>
                    <td><i class="fa fa-check-circle-o"></i></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}