{% extends 'base.html' %}

{% block content %}
    <div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h2>Select Ministries</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="jumbotron">
                        <form action="{% url 'home:volunteerMinForm' id %}" method="post">
                        {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container bg-danger" style="padding-left:10px">
                                            <b>{{ form.non_field_errors }}</b>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Ministry Categories</h4>
                                </div>
                            </div>
                            <br>
                            <fieldset id="build">

                            </fieldset>
                            <p><a href="#" id="add">Add another category +</a></p>
                          <button style="float:right" type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
				</div>
			</div>
            <script>
                console.log("{{post}}");
                $(function() {
                    $( "#add" ).click(function() {
                        var row= $("<div class=\"row\"></div>");
                        var group =   $("<div class=\"form-group col-md-10\">");
                        var select = $("<select class=\"form-control\" id=\"category\" name=\"category\"></select>");
                        var option =   $("<option value=\"AK\">Alaska</option>");
                        var removeButton = $("<div class=\"col-md-2\"><button class=\"btn btn-danger\">Remove</button></div>");
                        removeButton.click(function() {
                            $(this).parent().remove();
                        });
                        select.append(option);
                        group.append(select);
                        row.append(group);
                        row.append(removeButton);
                      $("#build").append(row);

                    });
                });
            </script>
{% endblock %}